{%load static%}

<html>
  <head>
    <title>About Us card ||</title>
    <link rel="stylesheet" href="{% static "home_page_css/about_card.css" %}" />
    <script
      src="https://kit.fontawesome.com/dbed6b6114.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section>
      <div class="image">
        <img src="{% static 'images/heart-removebg-preview.png' %}" />
      </div>

      <div class="content">
        <h2>About disease</h2>
        <p>
          Ischemic stroke is similar to a heart attack, except it occurs in the
          blood vessels of the brain. Clots can form in the brain's blood
          vessels, in blood vessels leading to the brain, or even in blood
          vessels elsewhere in the body and then travel to the brain. These
          clots block blood flow to the brain's cells.
        </p>
        <ul class="links">
          <li><a href="ss/">Introduction</a></li>
          <div class="vertical-line"></div>
          <li><a href="ss2/">Symptoms</a></li>
          <div class="vertical-line"></div>
          <li><a href="ss3/">causes</a></li>
          <div class="vertical-line"></div>
          <li><a href="ss4/">Risk factors</a></li>
          <div class="vertical-line"></div>
          <li><a href="ss5">Treatment</a></li>
        </ul>
      </div>
    </section>
    <br /><br />
  </body>
</html>
