{%load static%}

<h1>CAUSES</h1>
<link rel="stylesheet" href="{% static "home_page_css/introduction.css" %}" />
<div class="row">
  <div class="column">
    <p class="s">
      **Ischemic stroke occurs when an artery that supplies blood to the brain
      is blocked by a blood clot or fatty buildup, called plaque. This blockage
      can appear at the neck or in the skull.<br /><br />**Clots usually start
      in the heart and travel through the circulatory system. A clot can break
      up on its own or become lodged in an artery. When it blocks a brain
      artery, the brain doesn’t get enough blood or oxygen, and cells start to
      die.<br /><br />**Ischemic stroke caused by a fatty buildup happens when
      plaque breaks off from an artery and travels to the brain. Plaque can also
      build up in the arteries that supply blood to the brain and narrow those
      arteries enough to cause ischemic stroke.<br /><br />**Global ischemia,
      which is a more severe type of ischemic stroke, happens when the flow of
      oxygen to the brain is greatly reduced or completely stopped. This is
      usually caused by a heart attack, but it can also be caused by other
      conditions or events, such as carbon monoxide poisoning<br /><br />**In
      ischemic heart disease, narrowing coronary arteries reduce the amount of
      oxygenated blood flowing to the heart muscle. Without enough blood flow,
      the heart muscle does not receive the amount of oxygen it needs to
      function properly.<br /><br />

      ** Ischemic heart disease occurs most often in people who have
      atherosclerosis. This is a buildup of plaque on the walls of the coronary
      arteries. However, the reduced blood supply can also be due to blood
      clots, coronary artery spasms, or severe illnesses that increase the
      heart’s need for oxygen.
    </p>
    <div>
      <a href="/about/"><button class="b">back</button></a>
    </div>
  </div>
  <div class="column">
    <div class="im">
      <img height="150%" width="100%" src="{% static 'images/causes.png' %}" />
    </div>
  </div>
</div>
