{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href='{% static "home_page_css/contact1.css" %}'/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="content">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="t">CONTACT</div>
        </div>
        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
        </div>
        <div class="email details">
          <div class="topic-text">Contact</div>
          <div class="text-one"></div>
          <div class="text-two"></div>
        </div>
      </div>
      <div class="right-side">
        <div class="topic-text">Name</div>
          <div class="tex">MS. ARUNDHATI M M.C.A</div>
          <div class="tex">KESAVANAND V.S B.sc</div>
          <div class="tex">MADHAVAN P.K B.sc</div>
          <div class="tex">NANDHA M B.sc</div>
          <div class="tex">SAKTHI PRASAD V B.sc</div>
        </div>
        <div class="right-side">
          <div class="topic-text">Email</div>
            <div class="tex">arundhati@sriramachandra.edu.in</div>
            <div class="tex">B0219001@sriramachandra.edu.in</div>
            <div class="tex">B0219014@sriramachandra.edu.in</div>
            <div class="tex">B0219012@sriramachandra.edu.in</div>
            <div class="tex">B0219018@sriramachandra.edu.in</div>
          </div>
          <div class="right-side">
            <div class="topic-text">Phone</div>
              <div class="tex">+91 73733 43666</div>
              <div class="tex">+91 73976 24611</div>
              <div class="tex">+91 70948 15020</div>
              <div class="tex">+91 63858 67780 </div>
              <div class="tex">+91 90800 96810</div>
            </div>
    </div>
    </div>
  </div>
</body>
</html>
