{%load static%}
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href='{% static "home_page_css/i.css" %}'
      type="text/css"
    />
    <title>document</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="max-width">
        <img
          id="med"
          src="{% static 'images/medcine.png' %}"
          height="40"
          width="60"
        />
        <ul class="menu">
          <li><a href="about/">ABOUT STROKE</a></li>
          <li><a href=" tools/fileupload/">ML TOOL </a></li>
          <li><a href="ml/">PREDICTION</a></li>
          <li><a href="contact/">CONTACT</a></li>
        </ul>
      </div>
    </nav>
    <div class="k">
      <h2>Machine learning</h2>
    </div>
    <div class="l">
      Machine learning is a branch of artificial intelligence (AI) and computer
      science which focuses on the use of data and algorithms to imitate the way
      that humans learn, gradually improving its accuracy.
    </div>
    <div class="l">
      Machine learning is an important component of the growing field of data
      science. Through the use of statistical methods, algorithms are trained to
      make classifications or predictions, uncovering key insights within data
      mining projects. These insights subsequently drive decision making within
      applications and businesses, ideally impacting key growth metrics. As big
      data continues to expand and grow, the market demand for data scientists
      will increase, requiring them to assist in the identification of the most
      relevant business questions and subsequently the data to answer them.
    </div>
    <footer>
      <div>
        <ul class="bn">
          <li>
            <a id="user-log" href="#"></a>
          </li>
        </ul>
      </div>
      <div class="nm">
        <p>follow us</p>
      </div>
      <ul class="op">
        <a href="#"
          ><img
            class="user-log"
            src="{% static 'images/linkdin-black1.png' %}"
            height="33"
            width="33"
        /></a>
        <a href="#"
          ><img
            class="user-log"
            src="{% static 'images/linkdin-black1.png' %}"
            height="33"
            width="33"
        /></a>
        <a href="#"
          ><img
            class="user-log"
            src="{% static 'images/linkdin-black1.png' %}"
            height="33"
            width="33"
        /></a>
        <a href="#"
          ><img
            class="user-log"
            src="{% static 'images/linkdin-black1.png' %}"
            height="33"
            width="33"
        /></a>
        <a href="#"
          ><img
            class="user-log"
            src="{% static 'images/linkdin-black1.png' %}"
            height="33"
            width="33"
        /></a>
      </ul>
    </footer>
  </body>
</html>
