{%load static%}


<h1>RISK FACTORS</h1>
<link rel="stylesheet" href="{% static "home_page_css/introduction.css" %}">
<p class="s">Circulatory conditions are the main risk factor for ischemic stroke. That’s because they increase your risk for clots or fatty deposits. These conditions include:<br><br>•	high blood pressure<br>
    •	atherosclerosis<br>
    •	high cholesterol<br>
    •	atrial fibrillation<br>
    •	prior heart attack<br>
    •	sickle cell anemia<br>
    •	clotting disorders<br>
    •	congenital heart defects<br><br>Other risk factors include:<br><br>•	diabetes<br>
    •	smoking<br>
    •	being overweight, especially if you have a lot of abdominal fat<br>
    •	heavy alcohol misuse<br>
    •	use of certain drugs, such as cocaine or methamphetamines<br><br>Ischemic stroke is also more common in people who have a family history of stroke or who’ve had past strokes. Men are more likely than women to have ischemic stroke, while blacks have a higher risk than other races or ethnic groups. Risk also increases with age.<br><br>
    <h1>How is it diagnosed?</h1></p><p class="s"><br><br>A doctor can usually use a physical exam and family history to diagnose ischemic stroke. Based on your symptoms, they can also get an idea of where the blockage is located.<br><br>If you have symptoms such as confusion and slurred speech, your doctor might perform a blood sugar test. That’s because confusion and slurred speech are also symptoms of severe low blood sugar. Learn more about the effects of low blood sugar on the body.<br><br>A cranial CT scan can also help distinguish ischemic stroke from other issues that cause brain tissue death, such as a hemorrhage or a brain tumor.<br><br>Once your doctor has diagnosed ischemic stroke, they’ll try to figure out when it started and what the root cause is. An MRI is the best way determine when the ischemic stroke started. Tests used to determine a root cause might include:<br><br>•	an electrocardiogram (ECG or EKG) to test for abnormal heart rhythms<br>
    •	echocardiography to check your heart for clots or abnormalities<br>
    •	an angiography to see which arteries are blocked and how severe the blockage<br>
    •	blood tests for cholesterol and clotting problem.<br>
    
    
    

</p><div>
    <a href="/about/"><button class="b">back</button></a></div>