{%load static%}

<h1>SYMPTOMS</h1>
<link rel="stylesheet" href="{% static "home_page_css/introduction.css" %}" />
<div class="row">
  <div class="column">
    <p class="s">
      Specific symptoms of an ischemic stroke depend on what region of the brain
      is affected. Certain symptoms are common across most ischemic stroke,
      including:<br /><br />• vision problems, such as blindness in one eye or
      double vision<br />
      • weakness or paralysis in your limbs, which may be on one or both sides,
      depending on the affected artery<br />
      • dizziness and vertigo<br />
      • confusion<br />
      • loss of coordination<br />
      • drooping of face on one side<br />
      <br /><br />Once symptoms start, it’s crucial to get treatment as quickly
      as possible. This makes it less likely that damage becomes permanent. If
      you think someone is having a stroke, evaluate them using FAST:<br /><br />•<b>
        Face.</b
      >
      Is one side of their face drooping and hard to move?<br />
      • <b>Arms.</b> If they raise their arms, does one arm drift downward, or
      do they have significant difficulty raising their arm?<br />
      • <b>Speech.</b> Is their speech slurred or otherwise strange?<br />
      • <b>Time.</b> If the answer to any of these questions is yes, it’s time
      to call your local emergency services.<br />
      <br /><br />
      Even though TIA lasts for a brief period and usually resolves on its own,
      it also requires a doctor. This can be a warning sign of a full-blown
      ischemic stroke.<br />
    </p>
    <div>
      <a href="/about/"><button class="b">back</button></a>
    </div>
  </div>
  <div class="column">
    <div class="img">
      <img
        height="150%"
        width="100%"
        src="{% static 'images/symptoms.jpg' %}"
      />
    </div>
  </div>
</div>
