.w {
  padding: 20px;
  width: 460px;
  background: rgb(5, 5, 5);
  color: white;
  text-align: center;
  margin-left: 30%;
  border-radius: 40px;
  margin-top: 5%;
}
.v {
  padding: 15px;
  width: 460px;
  background: rgb(5, 5, 5);
  color: white;
  text-align: center;
  margin-left: 30%;
  border-radius: 40px;
  margin-top: 9%;
}
.q {
  position: absolute;
  top: 75%;
  left: 47%;
}
.a {
  padding: 15px;
  width: 490px;
  background: black;
  text-align: center;
  color: white;
  margin-left: -14rem;
  margin-top: -2rem;
  border-radius: 40px;
  font-weight: bold;
  font-size: large;
}
.r {
  padding: 17px 220px;
  background: black;
  text-align: center;
  color: white;
  margin-left: 30%;
  border-radius: 40px;
  font-size: large;
  font-weight: bold;
}

.x {
  background-color: black;
  color: white;
  font-size: large;
  font-weight: bold;
}
.n {
  margin-top: 10%;
}
